{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site_title}}Agenda</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    {% include 'global/partials/_header.html' %}
    
    <main class="content">
        {% block content %}{% endblock content %}
        {% include 'global/partials/_pagination.html' %}
    </main>
</body>
</html>