<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'index' %}" class="header-link">
            Agenda
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-itens">
                <a href="" class="menu-link">
                    Link 1
                </a>
            </li>
            <li class="menu-itens">
                <a href="" class="menu-link">
                    Link 2
                </a>
            </li>
        </ul>         
    </nav>

    <div class="search">
        <form action="{% url 'search' %}" method="get">
            <input type="text" class="search-input" placeholder="Seachr" id="search" name="q" value="{{ request.GET.q.strip }}">
        </form>
    </div>
</header>